@{
    ViewData["Title"] = "Update";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<h5>Current version:</h5> <p>1.16.20</p>
<h5>Latest version <button class="btn btn-sm btn-secondary">Check updates</button> :</h5> <p>1.16.20 <span>(Server is up-to-date)</span></p>
<button class="btn btn-primary" disabled>Update</button>
<p></p>
<p>States.....</p>