@{
    ViewData["Title"] = "Update";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<h5>Current version:</h5> <p>1.16.20</p>
<h5>Latest version:</h5> <p>1.16.20 <b>(Server is up-to-date)</b></p>
<button class="btn btn-primary">Update and Restart</button><button class="btn btn-secondary">Check updates</button>
<p></p>
<p>States.....</p>